@charset "UTF-8";

@media screen and (max-width: 720px) {
    #menu li {
        display: block;
        background-color:#1E441E;
        padding: 2px;   
    }
    a.nave{
        color: white;
        text-decoration: none;
    }
    .nave:hover{
        color: white;
        padding: 2;
        transition: 0.5s;
    }
    header h1{
        font-size: 32px;
    }
    header {
        height: 100px;
        position: fixed;
        margin-top:0px;
        display: block;
        top: 0px;
       left: 0px;
    }
    main {
        margin-top: 170px;
        max-width: 450px;
        display: block;
        text-align: justify;
        padding: 20px;
        text-indent: 2px;
        background-color: rgba(0, 0, 0, 0.144);
        margin-left: 20px;
        margin-right: 20px;
    }
    .img_p{
        max-width: 300px;
        margin:10px;
    }
    .img_g{
        display: none;
    }
    #novdroid{
        display: none;
    }
    #videodroid{
        padding-top: 20px;
        padding-left: 20px;
        max-width: 250px;
        max-height: 250px;
    }

    #menu_versoes {
        margin: 20px;
        margin-left:50px ;
    }
    
}